body{
    font-family:Calibri, Arial;
    background-color:black;
    color:rgb(187,28,255);
}
a{
    color:rgb(15,53,245);
}
a:hover{
    color:rgb(2,148,245);
}
a:visited{
    color:rgb(15,53,245);
}
.navbar{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}
.navbutton{
    float:left;
}
.navbutton .hyperlink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbutton .hyperlink:hover {
    background-color: #111;
}
.placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:12px;
    
}
